@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

body
{
  height: 100%;
  background-color: #fff !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.full
{
  margin: 200px 550px;
  border-radius: 30px;
}

.head
{
  background: linear-gradient(to right, #4d94ff,#0047b3);
}
